
#container {
	position: relative;
	top: 30px;
	border:5px solid #be79df;
	border-radius: 50px;
	font-size: 0;
	margin:auto;
	height:960px;
	width:960px;
	background-color: #ffffff;
}

.grid {
	margin:0;
	padding:0;
	border: none;
	outline:1px solid #be79df;
	display:inline-block;
	outline-style: dotted;
}

.grid.axe {
	background-image: url("/img/axe.png");
	background-repeat: no-repeat;
}

.grid.sword {
	background-image: url("/img/sword.png");
	background-repeat: no-repeat;
}

.grid.flail {
	background-image: url("/img/flail.png");
	background-repeat: no-repeat;
}

.grid.bow {
	background-image: url("/img/bow.png");
	background-repeat: no-repeat;
	
}

.grid.player-one {
	background-image: url("/img/naija.png");
	background-repeat: no-repeat;
	box-shadow: 0px 10px 50px rgba(35, 50, 233, 1);
	
}

.grid.player-two {
	background-image: url("/img/hunter.png");
	background-repeat: no-repeat;
	box-shadow: 0px 10px 50px rgba(35, 50, 233, 1);
}

.grid.wall {
	background-image: url("/img/wall.png");
	background-repeat: no-repeat;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 1);
}