
#container {

	position: relative;
	top: 30px;
	outline:2px solid #000;
	font-size: 0;
	margin:auto;
	height:960px;
	width:960px;
	padding: 0;
}

.grid {
	margin:0;
	padding:0;
	border: none;
	outline:1px solid #000;
	display:inline-block;
}

.grid.air {
	background-image: url("/img/air.png");
	background-repeat: no-repeat;
}

.grid.fire {
	background-image: url("/img/fire.png");
	background-repeat: no-repeat;
}

.grid.water {
	background-image: url("/img/water.png");
	background-repeat: no-repeat;
}

.grid.earth {
	background-image: url("/img/earth.png");
	background-repeat: no-repeat;
}

.grid.player-one {
	background-image: url("/img/iron-age-warrior.png");
	background-repeat: no-repeat;
}