header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

header > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header > div > img {
	height: 50px;
}

#container {
	position: relative;
	border: 5px solid #332d6d;
	border-radius: 20px;
	font-size: 0;
	margin: auto;
	height: 430px;
	width: 430px;
	background-color: #333;
	overflow: hidden;
}

#boardWrapper {
	display: grid;
	column-gap: 10px;
	grid-template-columns: 25% repeat(1, 1fr) 25%;
}

.grid {
	background-color: #fff;
	z-index: 10;
	margin: 0;
	padding: 0;
	/* border: none; */
	outline: 1px solid #332d6d;
	display: inline-block;
	border-radius: 10px;
	transition: 0.4s cubic-bezier(0.3, 0.3, 0.4, 1);
}

#player1,
#player2 {
	display: flex;
	align-items: center;
	justify-content: center;
}

#player1 > div,
#player2 > div {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 280px;
	height: 280px;
	border: 2px solid #332d6d;
	border-radius: 10px;
	margin: 0;
	box-shadow: 4px 6px 6px #333;
}

.player-image {
	height: 150px;
}

.playerCard {
	display: flex;
	justify-content: space-between;
	width: 250px;
}

.card-details {
	display: flex;
	flex-direction: column;
}

.card-details2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

#player1-weapon-image,
#player2-weapon-image {
	height: 100px;
}

.axe,
.sword,
.flail,
.bow,
.baton,
.Player1,
.Player2,
.grid.wall {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.axe {
	background-image: url('/img/axe.png');
}
.baton {
	background-image: url('/img/baton.png');
}

.sword {
	background-image: url('/img/sword.png');
}

.flail {
	background-image: url('/img/flail.png');
}

.bow {
	background-image: url('/img/bow.png');
}

.Player1 {
	background-image: url('/img/naija.png');
}

.Player2 {
	background-image: url('/img/hunter.png');
}

.grid.wall {
	background-image: url('/img/wall.png');
}

.accessible {
	box-shadow: inset 0px 10px 50px rgba(54, 156, 105, 0.5);
}

.accessible:hover {
	box-shadow: inset 0px 10px 50px rgba(54, 156, 105, 1);
}

.weapons li {
	display: inline-block;
	padding: 5px;
}
.weapons li img {
	width: 50px;
	height: 50px;
}

.weapons {
	width: 500px;
	position: relative;
	margin-top: 2px;
	box-shadow: 0px 2px 6px #332d6d;
	margin-left: 302px;
	text-align: center;
	cursor: default;
	transition: 1s;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.weapons:hover {
	box-shadow: 0px 2px 10px gray;
	transition: 1s;
}

#game-rules {
	float: right;
	position: relative;
}
/* .attack-weapon-player1 {
	margin-left: 30%;
	width: 76px;
	height: 76px;
} */

#attackWrapper {
	display: flex;
	/* flex-direction: column; */
	align-items: center;
	justify-content: space-around;
}
